[submodule ".config/alacritty/alacritty-theme"]
  path = .config/alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".nvm"]
  path = .nvm
  url = https://github.com/nvm-sh/nvm.git
[submodule ".oh-my-zsh"]
  path = .oh-my-zsh
  url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "powerlevel10k"]
  path = .oh-my-zsh/custom/themes/powerlevel10k
  url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-autosuggestions"]
  path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
  url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-syntax-highlighting"]
  path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
  url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "tpm"]
  path = .tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm.git
